<html>
<meta charset="utf-8"> 
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/mystyle.css') }}">
    <script src="{{url_for('static', filename='js/d3.js') }}"></script>
    <script src="{{url_for('static', filename='js/script.js') }}"></script>
</head>
    <body>
        <div class="center">
            <h2 style = "text-align:center">Input text to find out how easily a computer could predict it</h2>
            <form action="/result" style = "text-align:center", method="POST">
                Text: <input type='text' name='text'><br><br>
                Predictions per word: <input type='text' name='number'><br><br>
                <input type='submit' value='Continue'>
            </form>
        </div><br>

        <div class="results">
            <strong>Your input:</strong>  <br>
            <script>
                (await fetch("https://dev0.kenarnold.org/result?text=Input+text+to+find+out+how+easily+a+computer+could+predict+it&number=5", {
                    "credentials": "omit",
                    "headers": {
                        "Upgrade-Insecure-Requests": "1",
                        "Pragma": "no-cache",
                        "Cache-Control": "no-cache"
                    },
                    "method": "GET",
                    "mode": "cors"
                })).json();
                let inputList = [["Me", "white"], [" You", "lime"], [" Hello", "lime"]];
                let predictionList = [[",", " You", " this"], [" Hello", " World", " Me"]];
                let positionsList = [1, 0];
                let searchDepth = 3;

                generate(inputList, predictionList, positionsList, searchDepth);
            </script>
            <br><br>
            <span style="background-color:lime;">Expected</span> (appeared in the first 10 predictions)<br>
            <span style="background-color:yellow;">Somewhat predictable</span> (appeared in the first 100 predictions)<br>
            <span style="background-color:red;">Somewhat unpredictable</span> (appeared in the first 1000 predictions)<br>
            <span style="background-color:magenta;">Unexpected</span> (didn't appear in the first 1000 predictions)<br><br>

            <strong>The predictability score for the top {{ depth }} results is: </strong>{{ final_score }}<br><br>

        </div>
    </body>
</html>