
<style>
.center {
    margin: auto;
    width: 50%;
    border: 3px solid black;
    padding: 10px;
  }

.results {
    margin: auto;
    width: 50%;
   padding: 10px;
}  
</style>

<html><body>
    <div class="center">
    <h2 style = "text-align:center">Input text to find out how easily a computer could predict it</h2>
    <form action="/result" style = "text-align:center">
        Text: <input type='text' name='text'><br><br>
        Predictions per word: <input type='text' name='number'><br><br>
        <input type='submit' value='Continue'>
    </form>
    </div><br>

    <div class="results">
    <strong>Your input:</strong> {{ usertext }} <br>
    <strong>Score (scale of 0 to 1):</strong> {{ score }}<br><br>
    <strong>Predicted words:</strong><br>
    <ol start="2">
    {% for predictiondict in predictions %}
        <li>[
        {% for word in predictiondict %}
            <span style="color:{{ predictiondict[word] }}; ">
            '{{ word }}' &nbsp;   
            </span>
        {% endfor %} ]
        </li>
        <br>
    {% endfor %}
    </ol>
    </div>
</body></html>