
<style>
.center {
    margin: auto;
    max-width: 800px;
    border: 3px solid black;
    padding: 10px;
  }

.results {
    margin: auto;
    max-width: 800px;
   padding: 10px;
}  
</style>

<html><body>
    <div class="center">
    <h2 style = "text-align:center">Input text to find out how easily a computer could predict it</h2>
    <form action="/result" style = "text-align:center">
        Text: <input type='text' name='text'><br><br>
        Predictions per word: <input type='text' name='number'><br><br>
        <input type='submit' value='Continue'>
    </form>
    </div><br>

    <div class="results">
    <strong>Your input:</strong>  <br>
    
    {% for pair in inputwords %}
        {% set token, color = pair %}
        <span style="background-color: {{ color }}; font-size:150%;">{{token}}</span>
    {% endfor %} <br><br>
    <span style="background-color:aquamarine;">Expected</span> (appeared in the first 10 predictions)<br>
    <span style="background-color:yellow;">Somewhat predictable</span> (appeared in the first 100 predictions)<br>
    <span style="background-color:red;">Unexpected</span> (didn't appear in the first 100 predictions)<br><br>

    <strong>Overall predictability score (scale of 0 to 1):</strong> {{ score }}<br><br>
    <strong>Predicted words:</strong><br>
    <ol start="2">
    {% for predictiondict in predictions %}
        <li>[
        {% for word in predictiondict %}
            <span style="color:{{ predictiondict[word] }}; ">
            '{{ word }}' &nbsp;   
            </span>
        {% endfor %} ]
        </li>
        <br>
    {% endfor %}
    </ol>
    </div>
</body></html>