<head>
    <title><strong>Phrase Prediction</strong></title>}
    
</head>
<body>
    <form method="POST">
        <input name="x">
        <input name="Num">
        <input type="submit">
    </form>
    <p>The predictability score for
    {% for item in text_output%}
        {% set word, color = item%} 

        <span style="background-color: {{color}}">{{word}}</span>
    {% endfor %}
    is
    {{score_output}}
    </p>
    <ul>
    <br><span style="background-color:green;">Top 10 predicted words</span> (appeared in the first 10 predictions)<br>
    <br><span style="background-color:yellow;">Top 100 predicted words</span> (appeared in the first 100 predictions)<br>
    <br><span style="background-color:red;">Unexpected word</span> (didn't appear in the first 100 predictions)<br>
    <ul>
        
</body>