.center {
  margin: auto;
  max-width: 800px;
  border: 3px solid black;
  padding: 10px;
}

.key {
  margin: auto;
  max-width: 800px;
  padding: 10px;
}  

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltiptext {
  visibility: hidden;
  width: 150px;
  background-color: gray;
  color: #fff;
  text-align: left;
  padding: 5px 0;
  border-radius: 6px;

  position: absolute;
  z-index: 1;
}

.results {
  margin: auto;
  max-width: 800px;
  padding: 10px;
}