<html>
<meta charset="utf-8"> 
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/mystyle.css') }}">
    <script src="{{url_for('static', filename='js/d3.js') }}"></script>
    <script src="{{url_for('static', filename='js/script.js') }}"></script>
</head>
    <body>
        <div class="center">
            <div style="text-align:center;">
                Text: <input type='text' id='text'><br><br>
                Masked Word: <input type='text' id='mask'><br><br>
                <button id='submit' style="width:200px;height:100px" onclick='getData();'>Press me!</button>
            </div>
        </div>
        
        <div class="results">
        </div>
    </body>
</html>