<html>
<meta charset="utf-8"> 
<head>
    <script src="./d3.js"></script>
</head>
    <body>
        <div id="txt">
            <span>This is a test of the </span>
            <span id="mc">_______
                <div style="
                    z-index: 10;
                    visibility: hidden;
                    position: absolute;
                    width: 150px;
                    background-color: gray;
                    color: #fff;
                    text-align: left;
                    padding: 5px 0;
                    border-radius: 6px;
                ">
                    Test
                </div>
            </span>
            <span> process.</span>
        </div>
        <script src="./script.js"></script>
    </body>
</html>